@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

:root {
  --dark-100: #FFFFFF;
  --dark-200: #F3F2F2;
  --dark-400: #747474;
  --dark-900: #2A2A2A;
  --primary-green: #297D7F;
  --primary-gradient-900: #FA5D00;
  --primary-gradient-800: #FF6F40;
  --primary-gradient-700: #FF833A;
  --primary-gradient-600: #FFB58A;
  --primary-gradient-400:#FFC8A7;
  --primary-gradient-200: #FFE9DC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #FFFFFF;
  color: #2A2A2A;
}

button,
fieldset,
input {
  all: unset;
}

h1 {
  font-weight: 500;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  font-weight: 300;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}
